/out/


video links to refer
 https://www.youtube.com/watch?v=RBSGKlAvoiM&list=WL&index=1
 https://www.youtube.com/watch?v=oBt53YbR9Kk&list=WL&index=4
 https://www.youtube.com/watch?v=8hly31xKli0&list=WL&index=5
 https://www.youtube.com/watch?v=Mo4vesaut8g&list=WL&index=6

